@import '../config/_colors'
@import '../config/_variables'
  
.hero__button
  font-size: 32px
  height: 60px
  width: 320px
  margin: 0 8px
  text-decoration: none
  text-align: center
  border-radius: $border-radius
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer

.hero__button--outline
  border: 1px solid $color-brand
  background: $color-white
  color: $color-brand

.hero__button--solid
  background: linear-gradient(to bottom, $color-brand , $color-brand-dark)
  color: $color-white
  border: none