@import '../config/_colors'
@import '../config/_variables'
@import '../config/_breakpoints'

.create-fund
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: calc(100vh - #{$footer-height})
  padding-top: $nav-height / 2

.create-fund__header
  font-size: 36px
  font-weight: 400
  color: $color-black
  margin-bottom: 16px
  text-align: center

  +media($breakpoint-sm)
    font-size: 32px

.create-fund__form
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 380px
  max-width: 90vw

.create-fund__label
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  width: 100%
  font-size: 24px
  font-weight: 300
  color: $color-black
  margin-top: 8px

  +media($breakpoint-sm)
    font-size: 20px

.create-fund__input
  width: 100%
  text-align: center
  border: 1px solid rgba($color-black, 0.5)
  border-radius: $border-radius
  height: 32px
  font-size: 18px
  font-weight: 300
  font-family: Roboto
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.1)

.create-fund__invalid
  color: $color-brand
  font-size: 16px
  padding-top: 8px
  margin: 0

.create-fund__button
  width: 100%
  margin-top: 8px
  
  +media($breakpoint-sm)
    font-size: 24px

.create-fund__button.disabled
  background: $color-grey
  cursor: default

.create-fund__link
  text-decoration: none
  margin-top: 8px
  color: $color-brand
  font-weight: 300
  font-size: 18px

// DatePicker Styles

.react-datepicker-wrapper
  width: 100%

.react-datepicker__input-container input
  width: 100%
  height: 32px
  text-align: center
  font-size: 18px
  font-family: Roboto
  font-weight: 300
  border: 1px solid rgba($color-black, 0.5)
  border-radius: $border-radius
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.1)

.react-datepicker__header
  background: $color-white
  border-bottom: 1px solid rgba($color-black, 0.5)

.react-datepicker__current-month
  font-family: Roboto
  font-weight: 500

.react-datepicker__navigation--previous
  border-right-color: $color-brand

.react-datepicker__navigation--previous:hover
  border-right-color: $color-brand

.react-datepicker__navigation--next
  border-left-color: $color-brand

.react-datepicker__navigation--next:hover
  border-left-color: $color-brand

.react-datepicker__day-name
  font-family: Roboto

.react-datepicker__day
  font-family: Roboto

.react-datepicker__day--selected
  background: $color-brand

.react-datepicker__day--selected:hover
  background: $color-brand

.react-datepicker__day--today
  font-weight: 400