@import '../config/_colors'
@import '../config/_variables'

.create-fund
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: calc(100vh - #{$footer-height})

.create-fund__header
  font-size: 36px
  font-weight: 400
  color: $color-black
  margin-bottom: 16px

.create-fund__form
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 380px

.create-fund__label
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  width: 100%
  font-size: 24px
  font-weight: 300
  color: $color-black
  margin-top: 8px

.create-fund__input
  width: 100%
  text-align: center
  border: 1px solid rgba($color-black, 0.5)
  border-radius: 3px
  height: 32px
  font-size: 18px
  font-weight: 300
  font-family: Roboto

.create-fund__button
  width: 100%
  margin-top: 16px

.create-fund__link
  text-decoration: none
  margin-top: 8px
  color: $color-gold
  font-weight: 300
  font-size: 18px