@import '../config/_colors'
@import '../config/_variables'

.fund
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  height: calc(100vh - #{$footer-height})

.fund__expiration
  font-size: 28px
  font-weight: 400
  color: $color-black

.fund__expiration--until
  color: $color-grey
  margin-right: 8px