@import '../config/_colors'
@import '../config/_variables'
  
.hero
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: calc(100vh - #{$footer-height})
  width: 100%

.hero__header
  color: $color-black
  font-size: 48px
  font-weight: 500
  margin-bottom: 0

.hero__subheader
  color: $color-black
  font-size: 24px
  font-weight: 300
  margin: 16px 0

.hero__buttons
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 16px

.hero__learn-more
  color: $color-brand
  font-size: 24px
  margin-top: 16px
  text-decoration: none
  font-weight: 300