@import '../config/_colors'
@import '../config/_variables'
@import '../config/_breakpoints'
  
.nav
  display: flex
  align-items: center
  justify-content: space-between
  height: $nav-height
  padding: 0 $outer-padding
  position: absolute
  top: 0
  left: 0
  right: 0

  +media($breakpoint-sm)
    padding: 0 $outer-padding-sm

.nav__logo
  width: 32px
  margin-right: 8px

.nav__header
  color: $color-black
  font-size: 24px
  font-weight: 500
  display: flex
  align-items: center
  text-decoration: none

  +media($breakpoint-sm)
    font-size: 20px
  +media($breakpoint-xs)
    font-size: 18px
  

.nav__button
  background: $color-white
  border: 1px solid $color-brand
  border-radius: $border-radius
  color: $color-brand
  padding: 6px 12px
  font-size: 16px
  font-weight: 300
  display: flex
  align-items: center

  +media($breakpoint-sm)
    font-size: 14px
  +media($breakpoint-xs)
    font-size: 12px

.nav__avatar
  height: 24px
  width: 24px
  border-radius: 50%
  margin-left: 8px
  border: 1px solid $color-gold

  +media($breakpoint-sm)
    width: 18px
    height: 18px
  +media($breakpoint-xs)
    width: 14px
    height: 14px

// Error if no web3

.nav-error
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  height: $nav-height
  padding: 0 $outer-padding
  position: absolute
  top: 0
  left: 0
  right: 0

  +media($breakpoint-sm)
    padding: 0 $outer-padding-sm

.nav-error__error
  width: 100%
  height: 30px
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 0
  text-align: center

  +media($breakpoint-sm)
    font-size: 14px

.nav-error__link
  margin-left: 4px
  cursor: pointer
  text-decoration: none
  color: $color-brand

.nav-error__content
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  height: $nav-height