@import '../config/_colors'
@import '../config/_variables'
  
.nav
  display: flex
  align-items: center
  justify-content: space-between
  height: $nav-height
  padding: 0 60px

.nav__logo
  width: 32px
  margin-right: 8px

.nav__header
  color: $color-black
  font-size: 24px
  font-weight: 500
  display: flex
  align-items: center

.nav__button
  background: $color-white
  border: 1px solid $color-gold
  border-radius: 3px
  color: $color-gold
  padding: 6px 12px