@import '../config/_colors'
@import '../config/_variables'

.withdraw__background
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  background: rgba($color-black, 0.25)
  z-index: 2